body{
    margin:0;
    padding:0;
    background:#fff;
    font-size:12px;
    overflow:auto
}
#mainDiv{
    width:100%;
    height:100%
}
#loveHeart{
    float:left;
    width:670px;
    height:625px
}
#garden{
    width:100%;
    height:100%
}
#elapseClock{
    text-align:right;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px
}
#words{
    font-family:"sans-serif";
    width:500px;
    font-size:24px;
    color:#666
}
#messages{
    display:none
}
#elapseClock .digit{
    font-family:"digit";
    font-size:36px
}
#loveu{
    padding:5px;
    font-size:22px;
    margin-top:80px;
    margin-right:120px;
    text-align:right;
    display:none
}
#loveu .signature{
    margin-top:10px;
    font-size:20px;
    font-style:italic
}
#clickSound{
    display:none
}
#code{
    float:left;
    width:445px;
    height:auto;
    color:#333;
    font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
    font-size:16px;
    font-weight:bolder;
}
#code .string{
    color:#2a36ff
}
#code .keyword{
    color:#7f0055;
    font-weight:bold
}
#code .placeholder{
    margin-left:15px
}
#code .space{
    margin-left:7px
}
#code .comments{
    color:#3f7f5f
}
#copyright{
    margin-top:0px;
    text-align:center;
    width:100%;
    color:#666
}
#errorMsg{
    width:100%;
    text-align:center;
    font-size:24px;
    position:absolute;
    top:100px;
    left:0
}
#copyright a{
    color:#666
}



/* general styling */
:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: #ffd54f;
  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
